@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;1,300;1,500;1,700&family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,900&display=swap');

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
 }

 :root{
    --primaryColor:#ad91cf;
    --secondaryColor:rgb(196, 169, 230);
    --blackColor: rgb(46, 46, 71);
    --borderColor:rgb(46, 46, 71);
    --inputColor: rgb(241, 241, 241);
    --successColor: rgb(205, 237, 207);
    --failureColor: rgb(255, 0, 0);

 }

 html{
    font-size: 90%;
 }

 body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(./RUSL_UCS/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

   


}
